@model Proiect_DAW_DeliANN.Models.Workspace

<br />
<h2 class="text-center">Afisare Workspaces</h2>

<br />

@if (ViewBag.Message != null)
{
    <div class="alert-success p-3 rounded-3 text-center mb-5 @ViewBag.Alert">
        @ViewBag.Message
    </div>
}

<br />

@if (!ViewBag.EsteAdmin && !ViewBag.EsteEditor) @* Are logica sa vedem butoanele de comutare intre toate workspace-urile respectiv doar cele de care apartinem numai daca suntem useri normali. Admin si Editor oricum au acces la toate*@
{
    <div class="d-flex justify-content-center">

        <a class="btn btn-outline-success" href="/Workspaces/Index/">Exploreaza Workspace-urile</a>
        <br />
        <a class="btn btn-outline-success" href="/Workspaces/Index_personalizat_user">Workspace-urile mele</a>
        <br />

    </div>
}

<br />
@* Motorul de cautare *@
<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search"
               value="@ViewBag.SearchString">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>


@foreach (var workspace in ViewBag.Workspaces)
{
    <div class="card">

        <div class="card-body">

            <a asp-controller="Workspaces" asp-action="Show" asp-route-id="@workspace.WorkspaceId" class="text-decoration-none">
                <h3 class="card-title alert-success py-3 px-3 rounded-2">@workspace.Name</h3>
            </a>

            <div class="card-text">@Html.Raw(workspace.Description)</div>

            <div class="d-flex justify-content-between flex-row mt-5">

                <div><i class="bi bi-globe"></i> @workspace.Category.CategoryName</div>

                <span class="alert-success">@workspace.Date</span>

            </div>

        </div>

        @if(ViewBag.EsteAdmin || ViewBag.EsteEditor)
        {
            <a class="btn btn-success" asp-controller="Workspaces" asp-action="Show" asp-route-id="@workspace.WorkspaceId">
                Enter Workspace
            </a>

        }
        else
        {
              @* Verificare status User curent - workspace*@
            var userWorkspaceRelations = ViewBag.UserWorkspaceRelations as IEnumerable<dynamic>;
            var relation = userWorkspaceRelations.FirstOrDefault(uw => uw.WorkspaceId == workspace.WorkspaceId);

            @if(relation == null)
            {
                <form asp-controller="Workspaces" asp-action="RequestToJoin" method="post">
                    <input type="hidden" name="WorkspaceId" value="@workspace.WorkspaceId"/>
                    <button class="btn btn-primary" type="submit">Request to join</button> @*Mergem spre functia din controller ce da add la legatura user-workspace in tabelul asociativ cu status=False*@
                </form>
               
            }
            else if(relation.status)
            {
                <div class="d-flex justify-content-center">
                    <a class="btn btn-success" asp-controller="Workspaces" asp-action="Show" asp-route-id="@workspace.WorkspaceId">Enter Workspace</a>
                    <form asp-controller="Workspaces" asp-action="LeaveWorkspace" method="post">
                        <input type="hidden" name="WorkspaceId" value="@workspace.WorkspaceId" />
                        <button class="btn btn-danger">Leave Workspace</button> @*Stergem legatura din tabelul asociativ (cu status=true)*@
                    </form>
                </div>
            }
            else
            {
                 <form asp-controller="Workspaces" asp-action="CancelRequest" method="post">
                    <input type="hidden" name="WorkspaceId" value="@workspace.WorkspaceId"/>
                    <button class="btn btn-warning">Cancel request</button> @*Stergem legatura din tabelul asociativ*@
                 </form>
            }   
        }

    </div>

    <br />
    <br />
}

@* Afisarea paginata a workspace-urilor *@

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a> </li>
            }

            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
