@model Proiect_DAW_DeliANN.Models.Workspace

@{
    // Definim culorile
    var primaryColor = "#BE95BE";
    var secondaryColor = "#9B629B";
    var accentColor = "#813D81";
    var darkAccentColor = "#692369";
    var deepDarkColor = "#4D0C4D";
}

<!-- Injectam variabilele css in pagina -->
<style>
    :root {
        --primary-color: @primaryColor;
        --secondary-color: @secondaryColor;
        --accent-color: @accentColor;
        --dark-accent-color: @darkAccentColor;
        --deep-dark-color: @deepDarkColor;
    }
</style>

<link href="~/css/WorkspaceIndex.css" rel="stylesheet" />

<br />
<h2 class="text-center">Afisare Workspaces</h2>


@if (ViewBag.Message != null)
{
    <div class="alert-success p-3 rounded-3 text-center mb-5 @ViewBag.Alert">
        @ViewBag.Message
    </div>
}

<br />

@if (!ViewBag.EsteAdmin && !ViewBag.EsteEditor) @* Are logica sa vedem butoanele de comutare intre toate workspace-urile respectiv doar cele de care apartinem numai daca suntem useri normali. Admin si Editor oricum au acces la toate*@
{
    <div class="explore-buttons">

        <a class="btn btn-explore" href="/Workspaces/Index/">Exploreaza Workspace-urile</a>
        <br />
        <a class="btn btn-workspaces" href="/Workspaces/Index_personalizat_user">Workspace-urile mele</a>
        <br />

    </div>
}

<br />
@* Motorul de cautare *@
<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search"
               value="@ViewBag.SearchString">
        <button class="btn btn-search" type="submit">Search</button>
    </div>
</form>


@foreach (var workspace in ViewBag.Workspaces)
{
    <div class="card">

        <div class="card-body">

            <a asp-controller="Workspaces" asp-action="Show" asp-route-id="@workspace.WorkspaceId" class="text-decoration-none">
                <h3 class="card-title">@workspace.Name</h3>
            </a>

            <div class="workspace-info-container mt-5">
                <div class="left-section card-text">@Html.Raw(workspace.Description)</div>
                <div class="right-section">
                    <div><i class="bi bi-globe"></i> @workspace.Category.CategoryName</div>
                    <p>Last edited: <span class="last-edited">@workspace.Date</span> </p>
                </div>
            </div>

        </div>

        @if(ViewBag.EsteAdmin || ViewBag.EsteEditor)
        {
            <a class="btn btn-enter-admin" asp-controller="Workspaces" asp-action="Show" asp-route-id="@workspace.WorkspaceId">
                <i class="bi bi-box-arrow-in-right"></i> Enter Workspace
            </a>

        }
        else
        {
              @* Verificare status User curent - workspace*@
            var userWorkspaceRelations = ViewBag.UserWorkspaceRelations as IEnumerable<dynamic>;
            var relation = userWorkspaceRelations.FirstOrDefault(uw => uw.WorkspaceId == workspace.WorkspaceId);

            @if(relation == null)
            {
                <form asp-controller="Workspaces" asp-action="RequestToJoin" method="post" class="request-form">
                    <input type="hidden" name="WorkspaceId" value="@workspace.WorkspaceId"/>
                    <button class="btn btn-request" type="submit"><i class="bi bi-person-plus-fill"></i> Request to join</button> @*Mergem spre functia din controller ce da add la legatura user-workspace in tabelul asociativ cu status=False*@
                </form>
               
            }
            else if(relation.status)
            {
                <div class="d-flex justify-content-center enter-leave-buttons">
                    <a class="btn btn-enter" asp-controller="Workspaces" asp-action="Show" asp-route-id="@workspace.WorkspaceId"><i class="bi bi-box-arrow-in-right"></i> Enter Workspace</a>
                    <form asp-controller="Workspaces" asp-action="LeaveWorkspace" method="post">
                        <input type="hidden" name="WorkspaceId" value="@workspace.WorkspaceId" />
                        <button class="btn btn-leave"><i class="bi bi-box-arrow-left"></i> Leave Workspace</button> @*Stergem legatura din tabelul asociativ (cu status=true)*@
                    </form>
                </div>
            }
            else
            {
                 <form asp-controller="Workspaces" asp-action="CancelRequest" method="post" class="request-form">
                    <input type="hidden" name="WorkspaceId" value="@workspace.WorkspaceId"/>
                    <button class="btn btn-cancel"><i class="bi bi-x-circle-fill"></i> Cancel request</button> @*Stergem legatura din tabelul asociativ*@
                 </form>
            }   
        }

    </div>

    <br />
    <br />
}

@* Afisarea paginata a workspace-urilor *@

<div class="paginare">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a> </li>
            }

            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
