@model Proiect_DAW_DeliANN.Models.Workspace

@* Afisarea unui workspace impreuna cu categoria din care face *@

@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}
<br />
<div class="card">

    <div class="card-body">

        <h3 class="card-title alert-success py-3 px-3 rounded-2">@Model.Name</h3>

        <div class="card-text">@Html.Raw(Model.Description)</div>

        <div class="d-flex justify-content-between flex-row mt-5">

            <div><i class="bi bi-globe"></i> @Model.Category.CategoryName</div>

            <div><i class="bi bi-person"></i> Created by: @Model.User.UserName</div>

            <span class="alert-success">@Model.Date</span>

        </div>

    </div>

    @if (ViewBag.AfisareButoane == true)
    {
        <div class="d-flex flex-row justify-content-between">

            <a class="btn btn-success" asp-controller="Workspaces" asp-action="Edit" asp-route-id="@Model.WorkspaceId">Edit Workspace</a>

            <form method="post" asp-controller="Workspaces" asp-action="Delete" asp-route-id="@Model.WorkspaceId">

                <button class="btn btn-danger" type="submit">Delete workspace</button>

            </form>

            <a class="btn btn-success" asp-controller="Workspaces" asp-action="ShowRequests" asp-route-id="@Model.WorkspaceId">See Requests</a>

        </div>
    }

</div>

<br />
<br />

@*Afisare channel-uri*@
<div class="container">
    <div class="d-flex flex-row justify-content-between">
        <h4 class="card-title alert-success py-3 px-3 rounded-2">Channels:</h4>
        @if (ViewBag.AfisareButoane == true) @*Doar Admin/Editor/Moderatorii de pe workspace pot adauga canal*@
        {
            <a class="btn btn-success" asp-controller="Channels" asp-action="New" asp-route-id="@Model.WorkspaceId">Add a new channel!</a>
        }
    </div>
    <ul>
        @foreach (var chn in Model.Channels)
        {
            <li>
                <div class="card">
                    <div class="d-flex flex-row justify-content-between">
                        <a class="btn btn-success" asp-controller="Channels" asp-action="Show" asp-route-id="@chn.ChannelId">@chn.Name</a>
                        @if (ViewBag.AfisareButoane == true) @*Doar Admin/Editor/Moderatorii de pe workspace pot edita si sterge canale*@
                        {
                            <a class="btn btn-success" asp-controller="Channels" asp-action="Edit" asp-route-id="@chn.ChannelId">Edit Channel</a>
                            <form method="post" asp-controller="Channels" asp-action="Delete" asp-route-id="@chn.ChannelId">

                                <button class="btn btn-danger" type="submit">Delete Channel</button>

                            </form>
                        }
                    </div>
                </div>
            </li>
            <br />
        }
    </ul>
</div>


@*
<div class="container">
    <div class="d-flex flex-row justify-content-between">
    <h4 class="card-title alert-success py-3 px-3 rounded-2">Users in this workspace:</h4>
    </div>
    <ul>
        @foreach (var chn in ViewBag.Users)
        {
            <li>
                <div class="card">
                <div class="d-flex flex-row justify-content-between">
                    <li>@chn.FirstName<li>
                </div>
                </div>
            </li>
            <br/>
        }
    </ul>
</div>
*@





