@{
    // Definim culorile
    var primaryColor = "#BE95BE";
    var secondaryColor = "#9B629B";
    var accentColor = "#813D81";
    var darkAccentColor = "#692369";
    var deepDarkColor = "#4D0C4D";
}

<!-- Injectam variabilele css in pagina -->
<style>
    :root {
        --primary-color: @primaryColor;
        --secondary-color: @secondaryColor;
        --accent-color: @accentColor;
        --dark-accent-color: @darkAccentColor;
        --deep-dark-color: @deepDarkColor;
    }
</style>

<link href="~/css/IndexCateg.css" rel="stylesheet" />
@{
    ViewBag.Title = "Category List";
}

<h2>@ViewBag.Title</h2>

@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}

<a class=" btn btn-new d-flex justify-content-center" asp-controller="Categories" asp-action="New">Add a new category</a>
@foreach (Proiect_DAW_DeliANN.Models.Category category in ViewBag.Categories)
{
    @*<div class="card">
        <div class=" card-body">
    <div class="form-group">
        <label asp-for="@category.CategoryName" class="form-label">Denumire categorie</label>
        <div><i class="bi bi-globe"></i> @category.CategoryName</div>
    </div>
    <br />
        <div class="container mt-2">
            <a class="btn btn-enter alert-success d-flex justify-content-center" asp-controller="Categories" asp-action="Show" asp-route-id="@category.CategoryId">Afisare categorie</a>
            <a class="btn btn-edit alert-success d-flex justify-content-center" asp-controller="Categories" asp-action="Edit" asp-route-id="@category.CategoryId">Editare categorie</a>
        </div>
        </div>
        <br />
        <br />
    </div>*@
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label asp-for="@category.CategoryName" class="form-label d-flex justify-content-center">Category:</label>
                <div class=" d-flex justify-content-center">
                    <i class="bi bi-globe"></i>&nbsp; @category.CategoryName

                </div>
            </div>
            <br />
            <div class="container mt-2 container-custom">
                <a class="btn btn-enter" asp-controller="Categories" asp-action="Show" asp-route-id="@category.CategoryId">Show Category</a>
                <a class="btn btn-edit" asp-controller="Categories" asp-action="Edit" asp-route-id="@category.CategoryId">Edit Category</a>
            </div>
        </div>
    </div>

}
<br />

<br />